<h1>Header</h1>
<% if (username) { %>
<%= username %>
<br><br>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout" name="logout">
    </form>

<% } else { %>

    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

<% } %>