<%- include partials/_header %>

  <tr>
    <td colspan="100%">
      <b>Add New Link</b>
    </td>
  </tr>
  <tr>
    <td>
      <form action="/urls" method="POST">
        <label for="longURL">URL:</label>
        <input id="longURL" type="text" name="longURL" value="http://" style="width: 200px">
        <input type="submit" value="Submit">
      </form>
    </td>
  </tr>

<%- include partials/_footer %>